/* font-family: 'Open Sans',
sans-serif;
font-family: 'Poppins',
sans-serif; */
@import url(fonts.css);
@import url(reset.css);
@import url(common.css);


:root {
  /* colors */
  --main-text-color: #2F281E;
  --accent-color: #FF9900;
}

/* header */
.header {}

.header__logo {}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {}

.nav-list {
  display: flex;
}

.nav-link {}

.header__buttons {}

.btn {}

/* promo */
.promo {}

.promo>.wrapper {}

.promo__content {}

.main-title {}

.promo__buttons {}

.promo__image {}

/* tools */

.tools {}

.tools>.wrapper {}

.tools-items {}

.tool {}

/* strategies */

/* about-us */

/* contact-us */

/* footer */
