$color-primary: #FF9900;
$color-additional: #FF7549;
$color-bg: #FFEEE1;
$color-link: #1943EF;
$color-tag-bg: #F5F5F5;
$color-text: #544837;
$color-heading: #2F281E;
$color-border: #D7D7D7;

$color-add-1: #7752BE;
$color-add-2: #FAB005;
$color-add-3: #F03E3D;
$color-add-3: #4DADF7;


$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
