.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__text {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

.strategy {
  // flex: 0 0 33%;
}

.strategy-wrapper {
  > * {
    margin-bottom: 30px;
  }
}

.strategy__image {
  display: flex;
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.strategy__content {
  padding: 24px 33px 26px;
}

.strategy__title {
  margin: 0 0 29px;

  &:hover {
    color: $color-primary;
    @extend %transition;
  }
}
