.layout-4-col {
  @include columns(21%);
}

.layout-3-col {
  @include columns(30%);
  //
  &:after {
    content: "";
    width: 30%;
    display: block;
  }
}

.layout-2-col {
  @include columns(48%);
}
