.wrapper {
  max-width: $content-width;
  padding: 0 40px;
  margin: 0 auto;
  @include media-tablet {
    padding: 0 46px;
  }

  @include media-mobile {
    padding: 0 21px;
  }
}

.footer-wrapper {
  display: flex;

  @include media-tablet {
    flex-direction: column;
  }
}
